{% extends "layout.html" %}

{% block body %}
<h3>Hakkımızda</h3>
<hr>
Güneşi gülüşüne nasıl sığdırdın?
Döndürür kalbimi çöle
Gözünden akan yağmurlar
Döndürür çölleri sele
Saçına kopan fırtınalar
Eserken ruhumda hâlâ
Dediler: "Bu kız neymiş?"
Dedim: "Felaket, felaket!"
 
Felaket
Bu kız bi' afet, bi' afet
Gözün gözüme değse
Kopar kıyamet kıyamet
Yarattın dünyamda zelzele
Hâlâ sallanır bu hergele
Kaybettim kalbimi ben yine
Ah felaket, felaket
 
Bombalar yağar bu şehre seviştiğimizde
Darbeler vurur ruhuma
Seni düşünüp her içtiğimde maddeler
Susarım sana, konuşamam açım, susarım sana
Seni bana, beni sana hiç anlatamadım çok
Fırtınaların koptu, dalgaların boğdu
Yalanlarım çoğaldı
Yarınlarım lavlarının en altında kaldı
Hiddetinin şimşeği tüm şiddetiyle çarptı
Ne özleminin yüceliği uçurumdan farklı
Ne yüzde biri kadar cehennemin sana rahat
Evim, çatım, pencerem, kapım, şu başımdan uçtu
Gök yere düştü, sıyrıldı sıtkı
Fena fena, pek
Hem aşk, hem lanet
Her an devam hep
Bela ve zahmet
 
Felaket
Bu kız bi' afet, bi' afet
Gözün gözüme değse
Kopar kıyamet kıyamet
Yarattın dünyamda zelzele
Hâlâ sallanır bu hergele
Kaybettim kalbimi ben yine
Ah felaket, felaket
<hr>
{% endblock body %}
